li {
width: 123px;
  display:block;
color: black;
  background-color: grey;
padding: 3px;
  margin:3px;
}
li a:hover { display: block;
  color: pink;
background-color: yellow;

  }
  li:hover {background-color: yellow;}
